/* navbar-style */

.nav-menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.nav-item {
    text-decoration: none;
    font-size: 20px;
    color: #4895ef;
}

.nav-item:hover {
    color: #e07a5f;
}

/* header-style */

.header-heading {
    color: #4895ef;
}

/* main-cotainer-style */

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* todo-list-style */

.todo-items {
    list-style-type: none;
}

/* todo-item-style */

.todo-item {
    display: flex;
    gap: 20px;
}


